
<div class="title-container">
  <div class="header">
    <h1> Task Manager </h1>
  </div>
</div>

<div class="task-manager">
  <div class="left-bar">
      <button class="btn create-button">
        <%= link_to "+ Add new task", new_path%>
      </button>
    <div class="left-content">
    </div>
  </div>
