$gray: #F4F4F4;

.details {
  width: 700px;
  margin-bottom: 10px;
  margin: 10px;
  background-color: $gray;
  padding: 15px;
}

.container {
  padding: 15px;
  white-space: 20px;
}

h1, h2 {
  color: #0999cb;
  padding-bottom: 10px;
}

h1 {
  margin: 10px;
}

ul {
  list-style: none;
  padding:0px;
}

i {
  color: black;
  margin-left: 5px;
  margin: 10px;
}

.title-container {
  display: grid;
  grid-template-columns: 170px 1fr;
  border-bottom: 2px solid #A8A8A8;
}
