.create-button a {
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  text-decoration: none;
  margin: 20px;
  display: inline-block;
}

.create-button a:hover {
  background: #1BCB7F;
  color: white;
  text-decoration: none;
}

.btn {
  text-decoration: none;
  padding: 0px !important;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  border: none;
  margin-top: 10px;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

button {
  border: none;
  outline: none;
}

button:focus {
  outline: none !important;
}

a.btn-flat {
  margin-top: 10px;
}

a.btn-flat:hover {
  text-decoration: none;
}
