// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #F4F4F4;

.details {
  width: 700px;
  margin-bottom: 10px;
  margin: 10px;
  background-color: $gray;
  padding: 15px;
}

.container {
  padding: 15px;
  white-space: 20px;
}


.btn {
  text-decoration: none;
}
